---
import LinksList from "../components/LinksList.astro"
---

<footer>
    <h2>Ableton</h2>
    <div>
        <LinksList listItems={
            {
                'Register Live or Push >':'#', 
                'About Ableton >':'#'
            }} />
    </div>
</footer>