---

---
<header class="p-5">
    <nav>
        <ul class="flex flex-row">
            <li>
                <img class="w-16 h-auto" src="./logo.svg" alt="Logo">
            </li>
            <li>
                <a href="#">Live</a>
            </li>
            <li>
                <a href="#">Push</a>
            </li>
            <li>
                <a href="#">Note</a>
            </li>
            <li>
                <a href="#">Link</a>
            </li>
            <li>
                <a href="#">Shop</a>
            </li>
            <li>
                <a href="#">Packs</a>
            </li>
            <li>
                <a href="#">Help</a>
            </li>
            <li>
                <button>More <span>+</span></button>
            </li>
        </ul>
        <ul>

        </ul>
    </nav>
</header>