---

---
<header class="p-5">
    <nav class="flex flex-row justify-between">
        <ul class="flex flex-row font-semibold gap-x-4 text-center">
            <li>
                <img class="w-16 h-auto" src="./logo.svg" alt="Logo">
            </li>
            <li>
                <a class="align-middle" href="#">Live</a>
            </li>
            <li>
                <a class="align-middle" href="#">Push</a>
            </li>
            <li>
                <a class="align-middle" href="#">Note</a>
            </li>
            <li>
                <a class="align-middle" href="#">Link</a>
            </li>
            <li>
                <a class="align-middle" href="#">Shop</a>
            </li>
            <li>
                <a class="align-middle" href="#">Packs</a>
            </li>
            <li>
                <a class="align-middle" href="#">Help</a>
            </li>
            <li>
                <button class="align-middle text-orange">More +</button>
            </li>
        </ul>
        <ul class="flex flex-row gap-x-4">
            <li>
                <a class="text-blue-200" href="#">Try Live 12 for free</a>
            </li>
            <li>
                <a href="#">Login in or register</a>
            </li>
        </ul>
    </nav>
</header>