<footer class="text-center mb-10 font-bold text-lg w-11/12 m-auto">
    <p>Backstage Talks is a magazine of casual, but in depth dialogues on design and business. Our decisions shape and influence this complex world—to have a chance to make the right ones, we need to talk. <span class="block text-sm font-normal">© 2024 <a href="#" class="underline">Published by Büro Milk</a></span></p>
    <a class="block underline mt-5" href="#">Privacy Policy</a>
    <a class="block mt-10" href="#">info@backstagetalks.com</a>
</footer>