<footer class="text-center mb-10 font-bold text-lg w-11/12 m-auto">
    <div class="lg:absolute lg:left-0 lg:bottom-0 lg:text-left lg:w-3/12 lg:ml-6 lg:mb-6">
        <p>Backstage Talks is a magazine of casual, but in depth dialogues on design and business. Our decisions shape and influence this complex world—to have a chance to make the right ones, we need to talk. <span class="block text-sm font-normal">© 2024 <a href="#" class="underline">Published by Büro Milk</a></span></p>
        <a class="block underline mt-5" href="#">Privacy Policy</a>
    </div>
    <a class="block mt-10 lg:absolute lg:right-8 lg:top-3 lg:mt-0" href="#">info@backstagetalks.com</a>
</footer>