<footer>
    <p>Backstage Talks is a magazine of casual, but in depth dialogues on design and business. Our decisions shape and influence this complex world—to have a chance to make the right ones, we need to talk. <span>© 2024 Published by Büro Milk</span></p>
    <a>Privacy Policy</a>
    <a>info@backstagetalks.com</a>
</footer>