---
import Head from "../layouts/Head.astro"

import Lorem100 from "../components/Lorem100.astro";
---
<html lang="en-US">
<Head/>
<body class="font-sans">
    <Lorem100/>
    <Lorem100/>
</body>
</html>