---
import Head from "../layouts/Head.astro"
import Footer from "../layouts/Footer.astro"
---
<html lang="en-US">
<Head/>
<body class="font-sans">
    <Footer />
</body>
</html>


<!--
<script>
    const upscroll = document.getElementById('upscroll');
    const safety = 16;
    let lastPos = 0;

    document.onscroll = () => {
        let windowY = window.scrollY;
        if(windowY < lastPos && windowY > safety) {
            upscroll.classList.add('fixed');
        } else {
            upscroll.classList.remove('fixed');
        }
        lastPos = windowY;
    }
</script>
 -->