---
import Head from "../layouts/Head.astro"
import Header from "../layouts/Header.astro"
import Footer from "../layouts/Footer.astro"
import StickyBar from "../components/StickyBar.astro"
---
<html lang="en-US">
<Head/>
<body class="font-sans">
    <Header />
    <StickyBar />
    <main class="w-10/12 m-auto">
        <h1 class="absolute top-2/4 left-2/4 text-9xl -translate-x-2/4 -translate-y-2/4 text-orange font-semibold">Ableton</h1>
        <img src="./hero_img.png" alt="Man at desk">
        <p class="text-lg">We make <a href="#" class="text-blue-200">Live</a>, <a class="text-blue-200">Push</a>, <a class="text-blue-200">Note</a> and <a class="text-blue-200">Live</a> — unique software and hardware for music creation and performance. With these products, our community of users creates amazing things.</p>
        <p>Ableton was founded in 1999 and released the first version of Live in 2001. Our products are used by a community of dedicated musicians, sound designers, and artists from across the world.</p>
    </main>
    <Footer />
</body>
</html>


<!--
<script>
    const upscroll = document.getElementById('upscroll');
    const safety = 16;
    let lastPos = 0;

    document.onscroll = () => {
        let windowY = window.scrollY;
        if(windowY < lastPos && windowY > safety) {
            upscroll.classList.add('fixed');
        } else {
            upscroll.classList.remove('fixed');
        }
        lastPos = windowY;
    }
</script>
 -->