---
const {title='', listItems={}} = Astro.props;
---
<ul>
    {title && <li class="font-semibold">{title}</li>}
    { Object.keys(listItems).map(item=><li><a href={listItems[item]}>{item}</a></li>) }
</ul>