---
---

<nav>
    <ul class="flex flex-row p-5 gap-x-4 text-sm font-semibold">
        <li>
            <a class="text-orange" href="#">About</a>
        </li>
        <li>
            <a href="#">Jobs</a>
        </li>
        <li>
            <a href="#">Apprenticeships</a>
        </li>
    </ul>
</nav>