---
import HeadMeta from "@layouts/HeadMeta.astro";
import Magazine from "@components/Magazine.astro";
import Footer from "@layouts/Footer.astro";
import BuyCluster from "@components/BuyCluster.astro";
---

<html lang="en-US">
    <HeadMeta />
    <body class="transition-colors lg:overflow-y-hidden">
        <img
            class="w-40 sm:w-[260px] mt-5 lg:mt-3 ml-4"
            src="./logo.png"
            alt="BACKSTAGE TALKS"
        />
        <div class="lg:snap-y lg:snap-mandatory lg:h-screen overflow-auto">
            <Magazine
                ID="issue7"
                magTitle="Issue #7"
                imgPath="backstagetalks_cover_issue_7.png"
                imgAlt="Issue #5: 'Empathy for sale.'"
                bgColor="bg-pink-200"
            >
                <BuyCluster defEuroBuy="#" ukOverseaBuy="#" linkColor="text-white" />
            </Magazine>
            <Magazine
                ID="issue6"
                magTitle="Issue #6"
                imgPath="backstagetalks_cover_issue_6.png"
                imgAlt="Issue #6: Stylized duck-like figure walking a hole in the floorboards."
                bgColor="bg-white"
            >
                <BuyCluster defEuroBuy="#" linkColor="text-pink-100" />
            </Magazine>
            <Magazine
                ID="issue5"
                magTitle="Issue #5"
                imgPath="backstagetalks_cover_issue_5.png"
                imgAlt="Issue #5: 'Good designers are half pragmatic and half idealistic.'"
                bgColor="bg-cyan"
            >
                <BuyCluster defEuroBuy="#" linkColor="text-white" />
            </Magazine>
            <Magazine
                ID="issue4"
                magTitle="Issue #4 is sold out."
                imgPath="backstagetalks_cover_issue_4.png"
                imgAlt="Issue #4: 'Designers have to stop being stupid.'"
                bgColor="bg-orange"
            >
                <BuyCluster linkColor="text-white" />
            </Magazine>
            <Magazine
                ID="issue3"
                magTitle="Issue #3"
                imgPath="backstagetalks_cover_issue_3.png"
                imgAlt="Issue #3: 'Hartmut Esslinger, et al.'"
                bgColor="bg-yellow"
            >
                <BuyCluster defEuroBuy="#" linkColor="text-white" />
            </Magazine>
            <Magazine
                ID="issue2"
                magTitle="Issue #2"
                imgPath="backstagetalks_cover2017.png"
                imgAlt="Issue #2: 'Oliviero Toscani, et al.'"
                bgColor="bg-blue"
            >
                <BuyCluster defEuroBuy="#" linkColor="text-white" />
            </Magazine>
            <Magazine
                ID="issue1"
                magTitle="Issue #1 is sold out."
                imgPath="backstagetalks_cover2016_n.png"
                imgAlt="Issue #1: 'Michael Wolff, et al.'"
                bgColor="bg-red"
            >
                <BuyCluster linkColor="text-white" />
            </Magazine>
        </div>
        <Footer />
    </body><script>
        const bod = document.querySelector("body");
        const sects = document.querySelectorAll("section");
        const scrollOptions = {
            root: null,
            rootMargin: "10%",
            threshold: 1,
        };
        let currentColorClass = "bg-pink-200";

        window.onload = () => {
            const observer = new IntersectionObserver((entries) => {
                entries.forEach((entry) => {
                    if (entry.intersectionRatio === 1) {
                        bod.classList.remove(currentColorClass);
                        //@ts-ignore
                        currentColorClass = entry.target.dataset.color;
                        bod.classList.add(currentColorClass);
                    }
                });
            }, scrollOptions);

            for (const target of sects) {
                observer.observe(target);
            }

            window.scrollTo({
                top: 0,
                behavior: "smooth"
            });
        };
    </script>
</html>
