---
import HeadMeta from '@layouts/HeadMeta.astro';
import Magazine from '@components/Magazine.astro';
---
<html lang="en-US">
<HeadMeta />
<body >
    <img class="float-start w-2/6 mt-5 ml-4" src="./logo.png" alt="BACKSTAGE TALKS">
    <div class="snap-y snap-mandatory">
    <Magazine ID="issue7" magTitle="Issue #7" imgPath="backstagetalks_cover_issue_7.png" imgAlt="Issue #5: 'Empathy for sale.'" defEuroBuy="#" ukOverseaBuy="#" bgColor="bg-pink-200" />
    <Magazine ID="issue6" magTitle="Issue #6" imgPath="backstagetalks_cover_issue_6.png" imgAlt="Issue #6: Stylized duck-like figure walking a hole in the floorboards." />
    <Magazine ID="issue5" magTitle="Issue #5" imgPath="backstagetalks_cover_issue_5.png" imgAlt="Issue #5: 'Good designers are half pragmatic and half idealistic.'" />
    <Magazine ID="issue4" magTitle="Issue #4 is sold out." imgPath="backstagetalks_cover_issue_4.png" imgAlt="Issue #4: 'Designers have to stop being stupid.'" />
    <Magazine ID="issue3" magTitle="Issue #3" imgPath="backstagetalks_cover_issue_3.png" imgAlt="Issue #3: 'Hartmut Esslinger, et al.'" />
    <Magazine ID="issue2" magTitle="Issue #2" imgPath="backstagetalks_cover2017.png" imgAlt="Issue #2: 'Oliviero Toscani, et al.'" />
    <Magazine ID="issue1" magTitle="Issue #1 is sold out." imgPath="backstagetalks_cover2016_n.png" imgAlt="Issue #1: 'Michael Wolff, et al.'" />
    </div>
</body>
</html>
