---
const {imgPath, imgAlt, magTitle, defEuroBuy, ukOverseaBuy, selectedBuy='#'} = Astro.props;

---
<section>
    <img src={imgPath} alt={imgAlt}>
    <p>{magTitle}</p>
    <div>
        {(!defEuroBuy && !ukOverseaBuy) && <p>If you are lucky, you may get the last pieces in <a href={selectedBuy}>selected stores</a>.</p>}
    </div>
</section>